// Here you can add other styles
.error p {
    margin-bottom: 0px;
}
#builder .row {
    background-color: #222;
    padding: 5px;
}
#builder .col-md-6,
#builder .col-md-12 {
    background-color: #E4E5E6;
}