{% extends '@styles/layout.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <section id="install">
                    <h1 class="text-center">{{title}}</h1>
                    <div class="row text-center">
                        <div class='col-md-9'>
                            PHP version is at least or higher than 7.0.0
                        </div>
                        <div class='col-md-3'>
                            <span class='{% if data.version_check == false %}red{% else %}green{% endif %}' ></i> {{data.version}}</span>
                        </div>
                        <div class='col-md-12 text-center'>
                            <a class='btn btn-primary' href='{{base_url}}step/{{step+1}}'>Next Step</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}